{% extends 'bootstrap.html' %}
{% block contents %}
    <h1>Sign in</h1>
    <form method="POST" action="{% url 'app.login_page' %}" style="margin-bottom: 20px">
        {% csrf_token %}
        <div class="form-group">
            <label>Username</label>
            <input class="form-control" name="username"></input>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" name="password" type="password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div>
    Not a user yet? <a class="btn btn-sm btn-outline-secondary" href="{% url 'register.register' %}">Sign up</a>
    </div>
{% endblock %}